.popup__close-button {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close-button.svg);
    background-color: transparent;
    background-size: contain;
    border: 0;
    padding: 0;
}

@media screen and (max-width: 620px) {
    .popup__close-button {
        top: -36;
        right: 0;
        width: 20px;
        height: 20px;
    }  
}