.traveler__edit-button {
    width: 24px;
    height: 24px;
    border: 1px #fff solid;
    box-sizing: border-box;
    padding: 0;
    margin-top: 5px;
    background-color: transparent;
    background-image: url(../../../images/pen-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    grid-area: button;
    place-self: center end;
}

@media screen and (max-width: 980px) {
    .traveler__edit-button {
        width: 21px;
        height: 21px;    
    }
}

@media screen and (max-width: 620px) {
    .traveler__edit-button {
        width: 18px;
        height: 18px;
        margin-top: 0;
        grid-area: button;
        place-self: center end;
    }
}