.traveler__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 620px) {
    .traveler__heading {
        flex-direction: column;
    }
}