.traveler__profile {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 980px) {
    .traveler__profile {
        width: 100%;
    }
}

@media screen and (max-width: 620px) {
    .traveler__profile {
        flex-direction: column;
        max-width: 282px;
    }
}